
  <div class="d-block d-lg-flex align-items-center justify-content-between">

    <!-- メッセージ -->
    <div class="mb-3 mb-lg-0">
      <% japan_time = Time.current.in_time_zone('Tokyo') %>
      <% if japan_time.hour >= 5 && japan_time.hour < 12 %>
        <p class="mb-0">おはようございます！</p>
      <% elsif japan_time.hour >= 12 && japan_time.hour < 18 %>
        <p class="mb-0">こんにちは！</p>
      <% else %>
        <p class="mb-0">こんばんは！</p>
      <% end %>
      <p class="mb-0"><%= link_to "#{current_customer.name} さん", customer_path(current_customer), class: "text-dark" %></p>
    </div>

    <!-- 名前 -->
    <!--<div class="col">-->
      
    <!--</div>-->

    <!-- フォロー -->
    <div class="mb-3 mb-lg-0">
      <div id="relationship-info">
        <%= render "public/relationships/customer_info", customer: current_customer %>
      </div>
      <div>
        <%= link_to '#followersModal', data: { toggle: 'modal' } do %>
          <span style="color: black;">フォロワー</span> <span><%= current_customer.followers.count %></span>
        <% end %>
      </div>
    </div>

    <!-- フォロワー -->
    <!--<div class="col">-->

    <!--</div>-->

    <!-- 新着通知 -->
    <div class="mb-3 mb-lg-0">
      <button type="button" data-toggle="modal" data-target="#notificationsModal">
        新着通知 (<%= current_customer.notifications.where(read: false).where.not(customer_id: current_customer.id).count %>)
      </button>
    </div>

  </div>

<!-- 新着通知モーダル -->
<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="notificationsModalLabel">新着通知</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ここに通知のリストを動的に表示 -->
        <% if current_customer.notifications.where(read: false).where.not(customer_id: current_customer.id).order(created_at: :desc).limit(15).exists? %>
          <% current_customer.notifications.where(read: false).where.not(customer_id: current_customer.id).order(created_at: :desc).limit(15).each do |notification| %>
            <div class="notification p-2 mb-2 border rounded">
              <!-- 通知の内容を表示 -->
            </div>
          <% end %>
        <% else %>
          <p class="text-center">新着通知はありません</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>


<!--リレーションシップスのモーダル-->
<div id="relationships_modal_<%= current_customer.id %>">
  <%= render 'public/relationships/relationships_modal' %>
</div>

