<table class='table'>
  <thead>
   <tr>
      <td colspan="2" class="text-center">
        <%= link_to customer_path(current_customer) do %>
          <% if current_customer.image.attached? %>
            <%= image_tag current_customer.image, class: "img-fluid rounded-circle", style: "height: 150px; width: 150px; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: "img-fluid rounded-circle", style: "height: 150px; width: 150px; object-fit: cover;" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
    
     <tr>
      <th>
        <div class = ml-3 id="relationship-info">
          <%= render "public/relationships/customer_info", customer: customer %>
        </div>
      </th>
      <th>
        <%= link_to '#followersModal', data: { toggle: 'modal' } do %>
          <span style="color: black;">フォロワー</span> <span><%= customer.followers.count %></span>
        <% end %>
      </th>
    </tr>
    
    <tr>
      <td colspan="2">
        <div class="my-3 text-center">
          <h4>新着通知 (<%= current_customer.notifications.where(read: false).count %>)</h4>
          <% current_customer.notifications.where(read: false).order(created_at: :desc).limit(5).each do |notification| %>
            <div class="notification my-2">
              <% if notification.notifiable_type == "Favorite" %>
                <%= link_to "#{notification.notifiable.customer.name} さんがあなたの投稿「#{notification.notifiable.post.title}」にいいねしました", notification.notifiable_path, class: "text-dark" %>
              <% elsif notification.notifiable_type == "Post" %>
                <%= link_to "#{notification.notifiable.customer.name} さんが新しい投稿をしました", notification.notifiable_path, class: "text-dark" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>



<!-- フォローフォロワーのモーダル -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersModalLabel">フォロー / フォロワー</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- タブ -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="followings-tab" data-toggle="tab" href="#followings" role="tab" aria-controls="followings" aria-selected="true">フォロー</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">フォロワー</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="followings" role="tabpanel" aria-labelledby="followings-tab">
            <% customer.followings.each do |following| %>
              <p><%= following.name %></p>
            <% end %>
          </div>
          <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
            <% customer.followers.each do |follower| %>
              <p><%= follower.name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
