s<table class='table'>
  <tr>
    <% if customer.image.attached? %>
      <%= image_tag customer.image, size: '100x100' %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '100x100' %>
    <% end %>
  </tr>
  <tr>
    <th>名前</th>
    <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= customer.introduction %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th><%= link_to customer.followings.count, customer_followings_path(customer) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to customer.followers.count, customer_followers_path(customer) %></th>
  </tr>
</table>

<div class="d-flex justify-content-between">
  <% if current_customer != customer %>
    <td><%= render "relationships/btn", customer: customer %></td>
  <% else %>
    <!--編集モーダルボタン-->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditCustomerModal">
      編集
    </button>
  <% end %>
</div>

<!-- 編集モーダル -->
<div class="modal fade" id="EditCustomerModal" tabindex="-1" role="dialog" aria-labelledby="EditCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditCustomerModalLabel">会員情報編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: customer, url: customer_path(customer), local: true do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, "自己紹介" %>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
          <div class="modal-footer justify-content-between">
            <%= f.submit "更新保存", class: "btn btn-success" %>
            <%= link_to "退会手続", customers_confirm_path, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
