<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!--会員情報-->
             <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="row">
<div class="col-md-4">
<!--会員詳細-->
<%= render 'customer_details', customer: @customer %>
</div>

<!-- タックルと投稿一覧 -->
<div class="col-md-8">
<div class="card mb-4">
  <!--カードヘッダー-->
  <div class="card-header d-flex justify-content-center" style="background-color: #AFDFE4;">
    <h3>タックル新着</h3>
  </div>
  
  <!--カードボディ-->
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
        <th>名前</th>
        <th>ロッド</th>
        <th>リール</th>
        <th>ライン</th>
        <th>ベイト</th>
        </tr>
      </thead>
      <tbody>
      <% if @customer.tackles.exists? %>
      <% @customer.tackles.limit(5).each do |tackle| %>
      <tr>
        <td><%= tackle.name %></td>
        <td><%= tackle.rod %></td>
        <td><%= tackle.reel %></td>
        <td><%= tackle.line %></td>
        <td><%= tackle.bait %></td>
      </tr>
      <% end %>
      <% else %>
      <p class="text-center">登録されたタックルはありません</p>
      <% end %>
      </tbody>
    </table>
    <div class="text-center mt-2">
    <a href="<%= tackles_path %>" class="text-decoration-none text-dark">タックル一覧はこちらから</a>
    </div>
  </div>
</div>

<!-- 投稿一覧 -->
<div class="card">
  <div class="card-header d-flex justify-content-center" style="background-color: #AFDFE4; min-height: 50px;">
    <h3><%= @customer.name %> さんの投稿一覧</h3>
  </div>
  <div class="card-body">
  <div class="row">
  <% if @my_posts.exists? %>
  <% @my_posts.each do |post| %>
  <div class="col-12 col-md-6 col-lg-6 mb-2">
  <div class="card mb-4 shadow-sm">
  <div class="card-header mt-0 mb-0" style="background-color: white;">
    <div class="d-flex justify-content-between align-items-center">
    
    <!--魚の名前　10文字より長い名前は省略形-->
    <% if post.genre_name.present? %>
      <h5 class="mb-0" style="color: #117a8b;">
        <%= link_to truncate(post.genre_name, length: 10), post_path(post), class: "text-dark font-weight-bold", style: "font-size: calc(10px + .5vw)" %>
      </h5>
    <% else %>
      <%= link_to '魚種登録はこちらから', genres_path, class: 'text-dark' %>
    <% end %>
    
    <!--投稿日と釣り場-->
    <div class="d-flex flex-column align-items-end">
      <div class="text-right" style="font-size: 0.9rem;">
        <%= time_ago_in_words(post.created_at) %>前
      </div>
      <div class="text-right" style="font-size: 0.9rem;">
        ＠<%= link_to post.location, posts_path(location: post.location), class: "text-dark" %>
      </div>
    </div>
    </div>
  </div>
  
  <div class="card-body pb-0 pt-1" style="padding-left: 0.5rem;">
    <!-- 釣り方 -->
    <% if post.rigs.present? %>
    <p class="card-text" style="font-size: 0.9rem;">
      <% post.rigs.first(3).each do |rig| %>
      <span style="color: #4d992f;">＃</span><%= link_to rig.name, posts_path(rig_id: rig), class: "text-dark" %>
      <% end %>
      <% if post.rigs.count > 4 %>
      <span>...</span>
      <% end %>
    </p>
    <% end %>
  </div>
  
  
  <!--魚の画像-->
  <div class="my-3">
    <% if @post.image.attached? %>
      <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "img-fluid", style: "width: 100%; height: 250px; object-fit: cover;" %>
    <% end %>
    <% else %>
      <%= link_to post_path(post) do %>
      <%= image_tag 'no_image.jpg', class: "img-fluid", style: "width: 100%; height: 250px; object-fit: cover;" %>
    <% end %>
    <% end %>
  </div>
  
  <!--投稿者とフォローボタン-->
  <div class="card-body pt-0 pb-0">
    <div class="d-flex justify-content-between align-items-center">
      <!-- 画像と会員名 -->
      <div class="d-flex align-items-center">
      
      <!-- プロフィール画像 -->
        <% if post.customer.image.attached? %>
        <%= image_tag post.customer.image, class: "rounded-circle", style: "width: 25px; height: 25px; object-fit: cover;" %>
        <% else %>
        <%= image_tag 'no_image.jpg', class: "rounded-circle", style: "width: 25px; height: 25px; object-fit: cover;" %>
        <% end %>
      
      <!-- 会員名 -->
        <strong class="ml-2">
        <%= link_to post.customer.name, customer_path(post.customer), class: "text-dark" %>
        </strong>
      </div>
    
      <!--フォローボタン-->
      <% if customer_signed_in? && current_customer != post.customer %>
      <div id="relationship-btn<%= post.customer.id %>">
        <%= render 'public/relationships/customer_follow_btn', customer: post.customer %>
      </div>
      <% else %>
      <!--自分の投稿に「フォローするボタン」と同じサイズの余白を入れることでボタンによる段差を解消-->
      <div style="height: 31px; width: 76px;">
      <!--「btn-sm」相当の余白-->
      </div>
      <% end %>
    </div>
    
    <!--本文-->
    <p class="card-text mt-2">
      <%= truncate(post.body, length: 15) %>
    </p>
    
    <!--いいねとコメント-->
    <div class="d-flex justify-content-between align-items-center mt-2">
      <!--いいね-->
      <h6 style="padding-right: 0.5rem;">
        <%= render 'public/favorites/btn', post: post %>
      </h6>
      
      <!--コメント数-->
      <h6 style="padding-left: 0.5rem;">
        <% if post.post_comments.count > 0 %>
        <i class="fas fa-comments text-warning" style="margin-right: 0.3rem;"></i>
        <% else %>
        <i class="fas fa-comments text-secondary" style="margin-right: 0.3rem;"></i>
        <% end %>
        <%= post.post_comments.count %>
      </h6>
    </div>
  
  </div>
  </div>
  </div>
  
  <% end %>
  </div>
  <% else %>
  <p class="mx-auto">投稿はありません</p>
  <% end %>
        
  </div>
</div>
<!--31行目の閉じタグ-->
<%= paginate @my_posts %>
</div>

<!--会員詳細の編集モーダル-->
<%= render "public/customers/customer_edit_modal", customer: @customer %>
<!--javascript/packs-->
<%= javascript_pack_tag 'input_customer_image' %>
