<div class="container mt-4">
  <div class="row justify-content-center">
    <!-- 会員情報セクション -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header text-center" style="background-color: #AFDFE4;">
          <h2><%= @customer.name %> さん</h2>
        </div>
        <div class="card-body text-center">
          <% if @customer.image.attached? %>
          <div style="display: inline-block; padding: 2px; background: #c3e0e3; border-radius: 50%; height: 154px; width: 154px;">
            <%= image_tag @customer.image, class: "img-fluid rounded-circle", style: "height: 150px; width: 150px; object-fit: cover;" %>
          </div>
        <% else %>
          <div style="display: inline-block; padding: 2px; background: #c3e0e3; border-radius: 50%; height: 154px; width: 154px;">
            <%= image_tag 'no_image.jpg', class: "img-fluid rounded-circle", style: "height: 150px; width: 150px; object-fit: cover;" %>
          </div>
        <% end %>
          <div class="mt-4">
            <h3>会員情報</h3>
            <p><strong>名前：</strong><%= @customer.name %></p>
            <p><strong>Eメールアドレス：</strong><%= @customer.email %></p>
            <p><strong>自己紹介：</strong><%= @customer.introduction %></p>
            <p><strong>好きな魚：</strong><%= @customer.favorite_fish %></p>
            <p><strong>好きな釣り方：</strong><%= @customer.favorite_rig %></p>
            <p><strong>好きな釣り場：</strong><%= @customer.favorite_location %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- タックルと投稿一覧 -->
    <div class="col-md-8">
      <!-- タックル新着一覧 -->
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-center" style="background-color: #AFDFE4;">
          <h3>タックル新着５件</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>名前</th>
                <th>ロッド</th>
                <th>リール</th>
                <th>ライン</th>
                <th>ベイト</th>
              </tr>
            </thead>
            <tbody>
              <% @customer.tackles.limit(5).each do |tackle| %>
                <tr>
                  <td><%= tackle.name %></td>
                  <td><%= tackle.rod %></td>
                  <td><%= tackle.reel %></td>
                  <td><%= tackle.line %></td>
                  <td><%= tackle.bait %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center mt-2">
            <a href="<%= tackles_path %>" class="text-decoration-none text-dark">タックル一覧はこちらから</a>
          </div>
        </div>
      </div>

      <!-- 投稿一覧 -->
      <div class="card">
        <div class="card-header d-flex justify-content-center" style="background-color: #AFDFE4;">
          <h3><%= @customer.name %> さんの投稿一覧</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <% @my_posts.each do |post| %>
              <div class="col-md-6 mb-4">
                <div class="card h-100 border-0 shadow-sm">
                  <% if post.image.attached? %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag(post.image, class: 'card-img-top', style: 'width: 100%; height: auto; display: block;') %>
                    <% end %>
                  <% else %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag('no_image.jpg', class: 'card-img-top', style: 'width: 100%; height: auto; display: block;') %>
                    <% end %>
                  <% end %>
                  <div class="card-footer bg-white border-0">
                    <div class="d-flex flex-column">
                      <div>
                        <h4><%= post.genre ? post.genre.name : '' %></h4>
                      </div>
                      <div>
                        <i class="fas fa-comments mr-2"></i><span><%= post.post_comments.count %> 件</span>
                      </div>
                      <div>
                        <i class="fas fa-calendar-alt mr-2"></i><span><%= l post.created_at, format: :custom_short %></span>
                      </div>
                    </div>
                    <%= link_to '詳細を見る', post_path(post), class: "btn btn-primary btn-sm mt-2" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_customer == @customer %>
  <!--編集モーダルボタン-->
  <div class="text-center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditCustomerModal">
      プロフィールを編集
    </button>
  </div>

  <!--編集モーダル -->
  <div class="modal fade" id="EditCustomerModal" tabindex="-1" role="dialog" aria-labelledby="EditCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditCustomerModalLabel">会員情報編集</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with model: @customer, local: true do |f| %>
            <div class="form-group">
              <%= f.label :name, "名前" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :introduction, "自己紹介" %>
              <%= f.text_area :introduction, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :favorite_fish, "好きな魚" %>
              <%= f.text_field :favorite_fish, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :favorite_rig, "好きな仕掛け" %>
              <%= f.text_field :favorite_rig, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :favorite_location, "好きな場所" %>
              <%= f.text_field :favorite_location, class: "form-control" %>
            </div>
            <div class="form-group">
            <label for="inputCustomerFile">プロフィール画像</label>
            <div class="input-group customer-drop-area">
              <div class="custom-file">
                <%= f.file_field :image, class: "custom-file-input", id:"inputCustomerFile" %>
                <label class="custom-file-label" for="inputCustomerFile" data-browse="参照">ここに画像をドラッグ&ドロップまたは選択</label>
              </div>
            </div>
          </div>
            <div class="modal-footer">
              <%= f.submit "更新", class: "btn btn-success" %>
              <%= link_to "退会手続き", customers_confirm_path, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'input_customer_image' %>