<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <div class="mb-3">
    <%= search_form_for @q, url: searches_path, class: 'form-inline' do |f| %>
      <%= f.label :rigs_name_or_post_comments_comment_or_genre_name_or_tackle_name_or_tackle_rod_or_tackle_reel_or_tackle_line_or_tackle_bait_cont, "検索ワード", class: 'sr-only' %>
      <%= f.search_field :rigs_name_or_post_comments_comment_or_genre_name_or_tackle_name_or_tackle_rod_or_tackle_reel_or_tackle_line_or_tackle_bait_cont, class: 'form-control', placeholder: "検索ワードを入力" %>
      <%= f.submit '検索', class: 'btn btn-primary ml-2' %>
    <% end %>
  </div>
  </div>
  <div class="row">
    <!-- 会員情報セクション -->
    <div class="col-md-4">
      
      <%= render 'public/customers/customer_section' %>
    </div>

    <!-- 投稿編集セクション -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #AFDFE4;">
          <h2 class="mb-0 text-center">
            <i class="fa-solid fa-fish-fins mr-2" style="color: #117a8b;"></i>
            <%= @post.genre.name %>
          </h2>
        </div>
        <div class="card-body">
          <%= form_with model: @post, local: true do |form| %>

            <!-- 画像 -->
            <div class="form-group text-center mb-3">
              <% if @post.image.attached? %>
                <%= image_tag @post.image, class: "img-fluid", style: "max-height: 300px; object-fit: cover;" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "img-fluid", style: "max-height: 300px; object-fit: cover;" %>
              <% end %>
              
              <div class="form-group d-flex align-items-center justify-content-center mb-3">
              <i class="fa-solid fa-camera mr-2" style="color: #117a8b;"></i>
              <div class="custom-file">
                <%= form.file_field :image, class: 'custom-file-input', id: "PostsEditInputFile" %>
                <label class="custom-file-label" for="PostsEditInputFile" data-browse="参照">ここに画像をドラッグ&ドロップまたは選択してください</label>
              </div>
            </div>

            <!-- 釣り場 -->
            <div class="form-group d-flex align-items-center">
              <i class="fas fa-anchor mr-2" style="color: #717375;"></i>
              <%= form.text_field :location, class: 'form-control ml-2' %>
            </div>

            <!-- 釣り方 -->
            <div class="form-group d-flex align-items-center">
              <i class="fa-solid fa-tags mr-2" style="color: #4d992f;"></i>
              <%# @post.rigs.each do |rig| %>
              <%= form.text_field :rig_list, class: 'form-control ml-2' %>
              <%# end %>
            </div>

            <!-- タックル情報 -->
            <div class="form-group d-flex align-items-center">
              <i class="fa-solid fa-gear mr-2" style="color: #3131d6;"></i>
              <% if Tackle.exists? %>
                <!-- タックルが存在する場合、セレクトボックスで選択できるようにする -->
                <div class="ml-2 mr-auto">
                <%= form_with model: @post, url: tackle_selection_post_path(@post), method: :patch, html: { class: "d-flex align-items-center w-100" } do |f| %>
                  <%= f.collection_select :tackle_id, Tackle.all, :id, :name, { include_blank: true }, { class: "custom-select w-auto" } %>
                <% end %>
                
                  <%= link_to 'タックル登録はこちらから', new_tackle_path, class: 'btn btn-link text-dark' %>
                </div>
              <% else %>
                <!-- タックルプリセットが存在しない場合、新規登録を促すリンクを表示 -->
                <div class="ml-auto">
                  <%= link_to 'タックル登録はこちらから', new_tackle_path, class: 'btn btn-link text-dark' %>
                </div>
              <% end %>
            </div>


            <!-- 感想 -->
            <div class="form-group">
              <i class="fa-solid fa-pencil mr-2" style="color: #000;"></i>
              <%= form.text_area :body, class: 'form-control', rows: 5 %>
            </div>

            <!-- 投稿日 -->
            <div class="form-group d-flex align-items-center">
              <small><i class="fas fa-calendar-alt mr-2" style="color: #e32d2d;"></i><%= l @post.created_at, format: :custom_long %></small>
            </div>
            
            <div class="d-flex justify-content-around mt-3">
            <!-- 更新ボタン -->
            <div class="text-center">
              <%= form.submit '更新する', class: 'btn btn-success' %>
            </div>
            <!-- 削除ボタン -->
            <div class="text-center">
              <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<script>
  // 画像のドラッグ&ドロップ
   document.addEventListener('DOMContentLoaded', function() {
  var dropArea = document.querySelector('.drop-area');
  var inputFile = document.getElementById('PostsEditInputFile');

  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false);
  });

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  // ドロップ時の処理
  dropArea.addEventListener('drop', handleDrop, false);

  function handleDrop(e) {
    var dt = e.dataTransfer;
    var files = dt.files;

    inputFile.files = files;

    // ファイル名を表示
    var fileName = files[0].name;
    dropArea.querySelector('.custom-file-label').innerText = fileName;
  }

  // ファイル選択時の処理
  inputFile.addEventListener('change', function(e) {
    var files = inputFile.files;
    var fileName = files[0].name;
    dropArea.querySelector('.custom-file-label').innerText = fileName;
  });
});
  
</script>