<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!--会員情報-->
            <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center" style="background-color: #AFDFE4">
          <h2><%= @post.genre_name %>の編集</h2>
        </div>
        <div class="card-body" style="background-color: #f0f9fa;">
          <%= form_with model: @post, local: true do |form| %>
            <!-- 投稿日 -->
            <div class="form-group">
              <label>投稿日</label>
              <h6 class="form-text"><%= l @post.created_at, format: :custom_long %></h6>
            </div>

            <!-- タイトル -->
            <div class="form-group">
              <%= form.label :title, 'タイトル' %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>

            <!-- 画像 -->
            <div class="customer-edit-drop-area form-group">
              <label for="PostsEditInputFile">画像</label>
              <div class="custom-file">
                <%= form.file_field :image, class: 'custom-file-input', id: "PostsEditInputFile" %>
                <label class="custom-file-label" for="PostsEditInputFile" data-browse="参照">画像を選択してください</label>
              </div>
            </div>

            <!-- 釣り場 -->
            <div class="form-group">
              <%= form.label :location, '釣り場' %>
              <%= form.text_field :location, class: 'form-control' %>
            </div>

            <!-- 釣り方 -->
            <div class="form-group">
              <%= form.label :rig_list, '釣り方' %>
              <%= form.text_field :rig_list, class: 'form-control' %>
            </div>

            <!-- タックル情報 -->
            <div class="form-group">
              <%= form.label :tackle_id, 'タックル情報' %>
              <% if current_customer.tackles.exists? %>
                <%= form.collection_select :tackle_id, current_customer.tackles, :id, :name, {include_blank: "タックル未選択"}, {class: "custom-select"} %>
              <% else %>
                <%= link_to 'タックル登録はこちらから', new_tackle_path, class: 'btn btn-link' %>
              <% end %>
            </div>

            <!-- 感想 -->
            <div class="form-group">
              <%= form.label :body, '感想' %>
              <%= form.text_area :body, class: 'form-control', rows: 5 %>
            </div>

            <!-- ボタン -->
            <div class="form-group text-center d-flex justify-content-between mx-auto" style="max-width: 300px;">
              <%= form.submit '更新', class: 'btn btn-primary' %>
              <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--javascript/packs-->
<%= javascript_pack_tag 'input_customer_image_edit' %>
