<div class="container mt-5">
  <div class="row">
    <!-- 会員情報セクション -->
    <div class="col-md-4">
      <%= render 'public/posts/customer_section', customer: current_customer %>
    </div>
    
    <!-- 投稿一覧セクション -->
    <div class="col-md-8">
      <%= render 'public/posts/posts' %>
    </div>
  </div>
</div>

<!-- 新規登録モーダル -->
<%= render 'public/posts/NewPostModal' %>

<%= javascript_pack_tag 'validations' %>
<%= javascript_pack_tag 'input_image' %>