<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!--会員情報-->
             <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--投稿一覧-->
 <%= render "public/posts/posts", posts: @posts %>
    <%= paginate @posts %>
</div>
 
    


     


<!-- 新規登録モーダル -->
<!--<%#= render 'public/posts/NewPostModal' %>-->

<%= javascript_pack_tag 'input_image' %>


<%= render 'public/customers/customer_section', customer: current_customer %>