<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">会員情報</h3>
          <%= render 'public/customers/info', customer: current_customer %>
        </div>
      </div>

      <!-- 新規投稿モーダルボタン -->
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewPostModal">
          新規投稿
        </button>
      </div>
    </div>

    <!-- 投稿一覧 -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>投稿一覧</h2>
        </div>
        <div class="card-body">
          <%= render 'public/posts/posts', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 新規登録モーダル -->
<div class="modal fade" id="NewPostModal" tabindex="-1" role="dialog" aria-labelledby="NewPostModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NewPostModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @post, url: posts_path, local: true, html: { class: "needs-validation", novalidate: '' } do |f| %>
          <div class="form-group">
            <%= f.label :title, "魚種" %>
            <%= f.text_field :title, class: "form-control", required: true %>
            <div class="invalid-feedback">
              魚種を入力
            </div>
          </div>
          <div class="form-group">
            <%= f.label :body, "内容" %>
            <%= f.text_area :body, class: "form-control", required: true %>
            <div class="invalid-feedback">
              内容
            </div>
          </div>
          
          <div class="form-group">
          <%= f.label :image, "画像" %>
          <%= f.file_field :image, class: "form-control" %>
          <div class="invalid-feedback">
            画像ファイル(任意)
          </div>
          </div>

          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "登録", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'validations' %>
