<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!-- 会員情報 -->
            <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 投稿詳細 -->
  <div class="col-md-8 mx-auto">
    <div class="card">
      <!-- カードヘッダー -->
      <div class="card-header" style="background-color: white;">
        <!-- 投稿日とタイトル -->
        <div class="row align-items-center my-2">
          <div class="col text-left">
            <div class="d-flex align-items-center">
              <!-- タイトル -->
              <h4 class="mb-0"><%= truncate(@post.title, length: 20) %></h4>
            </div>
          </div>
          <div class="col text-right">
            <h6>
              <%= l @post.created_at, format: :custom_long %>
            </h6>
          </div>
        </div>

        <!-- 会員名とフォローボタン -->
        <div class="row align-items-center my-2">
          <div class="col">
            <!-- 会員名 -->
            <h5><i class="fa-solid fa-user"></i><%= link_to @post.customer.name, customer_path(@post.customer), class: "text-dark" %></h5>
            <!--自己紹介-->
            <p><%= truncate(@customer.introduction, length: 15, omission: '...') %></p>
          </div>
          <div class="col text-right">
            <!-- フォローボタンの有無によるボタンサイズの違いによる段差を解消 -->
            <% if customer_signed_in? && (current_customer != @post.customer) %>
              <div id="relationship-btn<%= @post.customer.id %>">
                <%= render 'public/relationships/customer_follow_btn', customer: @post.customer %>
              </div>
            <% else %>
              <!-- btn-sm相当の余白を作り差異解消 -->
              <div style="height: 31px; width: 76px;"></div>
            <% end %>
          </div>
        </div>
      </div>
      
      <!-- カードボディ -->
      <div class="card-body pb-0 pt-1" style="padding-left: 0.5rem;">
        <!-- 釣り方 -->
        <!--釣り方の有無の条件分岐-->
        <% if @post.rigs.present? %>
          <p class="card-text" style="font-size: 1.0rem;">
            <% @post.rigs.first(3).each do |rig| %>
              <span style="color: #4d992f;">＃</span><%= link_to rig.name, posts_path(rig_id: rig), class: "text-dark" %>
            <% end %>
            <!--釣り方の表示数の指定-->
            <% if @post.rigs.count > 4 %>
              <span>...</span>
            <% end %>
          </p>
        <% else %>
          <!-- rigsがない場合、同じサイズの余白を表示 -->
          <div style="min-height: 22px;"></div>
        <% end %>
      
        <!-- 画像 -->
        <div class="my-3">
          <% if @post.image.attached? %>
            <%= image_tag @post.image, class: "img-fluid", style: "width: 100%; height: auto; object-fit: cover;" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: "img-fluid", style: "width: 100%; height: auto; object-fit: cover;" %>
          <% end %>
        </div>

        <!-- 魚と釣り場 -->
        <div class="card-body pt-0 pb-0">
          <div class="d-flex justify-content-between align-items-center">
          <!-- 魚種 -->
          <div class="col p-1">
            <h5>魚種</h5>
            <% if @post.genre_name.present? %>
              <h2 class="mb-0"><%= @post.genre_name %></h2>
            <% else %>
              <!-- もし魚が未記入で投稿が通ってしまった場合、このメッセージを表示して魚の登録を促す -->
              <%= link_to '魚種登録はこちらから', genres_path, class: 'text-dark' %>
            <% end %>
          </div>
          <!-- 釣り場 -->
          <div class="col">
            <h5>釣り場</h5>
            <h3 class="mb-0"><%= link_to @post.location, posts_path(location: @post.location), class: "text-dark" %></h3>
          </div>
        </div>

        <!-- タックル情報 -->
        <div class="mb-3">
          <h5 class="mb-2 mt-4">タックル情報</h5>
          <!-- タックルの有無の条件分岐 -->
          <!-- 投稿時にタックルが選択されていた場合、後でタックルを選択した場合 -->
          <% if @post.tackle %>
            <div class="card mb-4" style="background-color: white;">
              <!--カードボディ-->
              <div class="card-body d-flex flex-column justify-content-between" style="background-color: white;">
                <!--タックル情報-->
                <div>
                  <div class="row mb-3">
                    <div class="col-sm-2"><strong>ロッド</strong></div>
                    <div class="col-sm-10"><%= @post.tackle.rod %></div>
                  </div>
          
                  <div class="row mb-3">
                    <div class="col-sm-2"><strong>リール</strong></div>
                    <div class="col-sm-10"><%= @post.tackle.reel %></div>
                  </div>
          
                  <div class="row mb-3">
                    <div class="col-sm-2"><strong>ライン</strong></div>
                    <div class="col-sm-10"><%= @post.tackle.line %></div>
                  </div>
          
                  <div class="row mb-1">
                    <div class="col-sm-2"><strong>ベイト</strong></div>
                    <div class="col-sm-10"><%= @post.tackle.bait %></div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <!-- 投稿時にタックル未選択の場合、セレクトボックスで選択できるようにする -->
            <% if current_customer.tackles.exists? %>
              <div class="form-group">
                <%= form_with model: @post, url: tackle_selection_post_path(@post), method: :patch, html: { class: 'form-inline' } do |f| %> 
                  <div class="input-group">
                    <%= f.collection_select :tackle_id, current_customer.tackles, :id, :name, {include_blank: "タックル未選択"}, {class: "custom-select my-1 mr-sm-2"} %>
                    <div class="input-group-append">
                      <%= f.submit "選択", class: "btn btn-primary btn-sm my-1" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <!-- そもそもタックルが存在してない場合、新規登録を促すリンクを表示 -->
            <% else %>
              <%= link_to 'タックル登録はこちらから', new_tackle_path( post_id: @post.id ), class: 'btn btn-link text-dark mt-2' %>
            <% end %>
          <% end %>
        </div>
                  
        <!-- 感想 -->
        <div class="mb-3">
          <h5>感想</h5>
          <%= simple_format(@post.body, class: "m-0") %>
        </div>

        <!-- コメントフォーム -->
        <%= form_with model: [@post, @post.post_comments.build], local: true, html: { class: 'needs-validation', novalidate: '' } do |f| %>
          <div class="form-group">
            <%= f.label :comment, "コメント" %>
            <%= f.text_area :comment, class: 'form-control', rows: 3, required: true %>
            <div class="invalid-feedback">コメントを入力してください。</div>
          </div>
          <div class="row justify-content-between">
            <div class="col-auto">
              <%= f.submit "コメントする", class: "btn btn-primary" %>
            </div>
            <% if current_customer == @post.customer %>
              <div class="col-auto">
                <%= link_to '編集', edit_post_path(@post), class: 'btn btn-success btn-sm' %>
                <span class="mx-2"></span>
                <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
              </div>
            <% end %>
          </div>
        <% end %>

        <hr>

        <!-- コメントとリプライ一覧 -->
        <h4>コメント件数 (<%= @post.post_comments.count %>)</h4>
        <div id="comments">
          <!-- コメントの有無の条件分岐 -->
          <% if @post.post_comments.where(parent_id: nil).order(created_at: :desc).exists? %>
            <% @post.post_comments.where(parent_id: nil).order(created_at: :desc).each do |comment| %>
              <div class="comment mb-3">
                <!-- プロフィール画像 -->
                <div class="d-flex align-items-center">
                  <% if comment.customer.image.attached? %>
                    <%= link_to customer_path(comment.customer) do %>
                      <%= image_tag comment.customer.image, class: "mr-2 rounded-circle", style: "height: 30px; width: 30px; object-fit: cover;" %>
                    <% end %>
                  <% else %>
                    <%= link_to customer_path(comment.customer) do %>
                      <%= image_tag 'no_image.jpg', class: "mr-2 rounded-circle", style: "height: 30px; width: 30px; object-fit: cover;" %>
                    <% end %>
                  <% end %>
                  <div>
                    <span><%= comment.customer.name %>さん</span>
                  </div>
                </div>

                <!-- コメント本文 -->
                <div class="d-flex justify-content-between align-items-center mt-2" style="border: 1px solid #dee2e6; border-radius: 10px; background-color: #ffffff; padding: 15px;">
                  <span><%= simple_format(comment.comment, {}, wrapper_tag: "span") %></span>
                  <% if comment.customer == current_customer %>
                    <%= link_to '削除', post_post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
                  <% end %>
                </div>

                <!-- コメント日時と返信 -->
                <div class="d-flex justify-content-between align-items-center mt-2">
                  <p><%= link_to "返信", "#", class: "btn btn-primary btn-sm reply-link", data: { comment_id: comment.id } %></p>
                  <small><p class="text-muted"><i class="fas fa-calendar-alt mr-2" style="color: #e32d2d;"></i><%= l comment.created_at, format: :custom_long %></p></small>
                </div>

                <!-- コメントの閉じタグ -->
              </div>

              <!-- リプライフォーム -->
              <div id="reply-form-<%= comment.id %>" class="reply-form" style="display: none;">
                <%= form_with model: [@post, @post.post_comments.build(parent_id: comment.id)], local: true do |f| %>
                  <%= f.hidden_field :parent_id %>
                  <%= f.text_area :comment, placeholder: "返信を記入してください", class: 'form-control mb-2', rows: 2 %>
                  <div class="row">
                    <div class="col text-left">
                      <%= f.submit "投稿", class: "btn btn-sm btn-primary" %>
                    </div>
                    <div class="col text-right">
                      <button type="button" class="btn btn-sm btn-secondary close-reply-form" data-comment-id="<%= comment.id %>">閉じる</button>
                    </div>
                  </div>
                <% end %>
              </div>

              <!-- リプライ一覧 -->
              <!-- リプライの有無の条件分岐 -->
              <% if comment.replies.order(created_at: :desc).exists? %>
                <% comment.replies.order(created_at: :desc).each do |reply| %>
                  <div class="reply ml-4 pl-3 mt-2">
                    <div class="comment mb-3">

                      <!-- リプライの投稿者 -->
                      <div class="d-flex align-items-center">
                        <!-- プロフィール画像 -->
                        <% if reply.customer.image.attached? %>
                          <%= link_to customer_path(reply.customer) do %>
                            <%= image_tag reply.customer.image, class: "mr-2 rounded-circle", style: "height: 30px; width: 30px; object-fit: cover;" %>
                          <% end %>
                        <% else %>
                          <%= link_to customer_path(reply.customer) do %>
                            <%= image_tag 'no_image.jpg', class: "mr-2 rounded-circle", style: "height: 30px; width: 30px; object-fit: cover;" %>
                          <% end %>
                        <% end %>
                        <!-- 会員名 -->
                        <div>
                          <span><%= reply.customer.name %>さん</span>
                        </div>
                      </div>

                      <!-- リプライ本文 -->
                      <div class="d-flex justify-content-between align-items-center mt-2" style="border: 1px solid #dee2e6; border-radius: 10px; background-color: #ffffff; padding: 15px;">
                        <span><%= simple_format(reply.comment, {}, wrapper_tag: "span") %></span>
                        <% if reply.customer == current_customer %>
                          <%= link_to '削除', post_post_comment_path(@post, reply), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
                        <% end %>
                      </div>
  
                      <!--リプライ投稿日-->
                      <div class="d-flex justify-content-end align-items-center mt-2">
                        <small><p class="text-muted"><i class="fas fa-calendar-alt mr-2" style="color: #e32d2d;"></i><%= l comment.created_at, format: :custom_long %></p></small>
                      </div>
          
                      </div>
                      <!--230行目の閉じタグ-->
                      </div>

                      <!--229行目の閉じタグ-->
                      <% end %>
                      <!--リプライがない場合-->
                      <% else %>
                      <p class="text-center">リプライはありません</p>
                      <!--228行目の閉じタグ-->
                      <% end %>
                      
                      <!--172行目の閉じタグ-->
                      <% end %>
                      <!--コメントがない場合-->
                      <% else %>
                      <p class="text-center">コメントはありません</p>
                      <!--173行目の閉じタグ-->
                      <% end %>
                    </div>
                  <!--69行目のボディ閉じタグ-->
                </div>
              </div>
            </div>
          </div>

<!--javascript/packs-->
<%= javascript_pack_tag 'reply' %>
