<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <h2 class="text-center mb-4">管理者ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation', novalidate: '' }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'パスワード' %>
          </div>

          <div class="actions text-center">
            <%= f.submit "ログイン", class: 'btn btn-primary mt-3' %>
          </div>
        <% end %>
        <!-- ゲスト管理者ログインリンク -->
        <div class="mt-3 text-center">
          <%= link_to 'ゲスト管理者としてログイン', guest_admin_session_path, method: :post, class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "admin/shared/links" %>
