<!--会員情報セクション-->
<!-- フォローフォロワーのモーダル -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #AFDFE4; display: flex; justify-content: center;">
        <div style="flex-grow: 1; text-align: center;">
          <h5 class="modal-title" id="followersModalLabel">フォロー / フォロワー</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <div class="bg-follow text-black p-2"><h6>フォロー</h6></div>
          <table class="table">
            <tbody>
              <% current_customer.followings.each do |following| %>
                <tr>
                  <td><%= link_to following.name, customer_path(following), class: 'text-dark' %> さん</td>
                  <td><%= link_to '詳細', customer_path(following), class: 'btn btn-sm btn-outline-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        
        <div class="mb-4">
          <div class="bg-follower text-black p-2"><h6>フォロワー</h6></div>
          <table class="table">
            <tbody>
              <% current_customer.followers.each do |follower| %>
                <tr>
                  <td><%= link_to follower.name, customer_path(follower), class: 'text-dark' %> さん</td>
                  <td>
                    <% if current_customer.following?(follower) %>
                      <%= button_to 'フォロー解除', unfollow_customer_path(follower), method: :delete, class: 'btn btn-danger btn-sm' %>
                    <% else %>
                      <%= button_to 'フォローする', follow_customer_path(follower), method: :post, class: 'btn btn-primary btn-sm' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
