  <div class="container mt-5">
    <!-- 会員情報 -->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>

    <!-- Google マップ -->
    <div class="row">
      <div class="col-md-12">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <script>
      function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.447753, lng: 139.649033},
      zoom: 12
    });

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // データベースから取得したスポット情報でマーカーを設置
    <% @spots.each do |spot| %>
      new google.maps.Marker({
        position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
        map: map,
        title: '<%= spot.name %>'
      });
    <% end %>

    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // 既存のマーカーをクリア
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }

        var marker = new google.maps.Marker({
          map: map,
          title: place.name,
          position: place.geometry.location
        });
        markers.push(marker);

        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

    // マップをクリックした場所に新しいマーカーを設置し、古いマーカーは削除
    google.maps.event.addListener(map, 'click', function(event) {
      // 既存のマーカーをクリア
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      var marker = new google.maps.Marker({
        position: event.latLng,
        map: map,
        title: "選択した位置"
      });
      markers.push(marker);

      // オプション: クリックした位置の緯度経度情報を表示したい場合
      console.log('Lat: ' + event.latLng.lat() + ', Lng: ' + event.latLng.lng());
    });
  }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap"></script>
