<div id="favorite-btn<%= post.id %>">
  <% if post.favorited_by?(current_customer) %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <span class="text-dark"><%= post.favorites.count %> いいね</span>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: #02c6db;"></i>
      <span class="text-dark"><%= post.favorites.count %> いいね</span>
    <% end %>
  <% end %>
</div>
