<% if @posts.any? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card mb-4 shadow">

          <!--カードヘッダー-->
          <%= link_to admin_customer_post_path(post.customer, post), class: "text-dark" do %>
          <div class="card-header mt-0 mb-0" style="background-color: white;">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <!--タイトル、10文字まで表示-->
                <h5><%= truncate(post.title, length: 10) %></h5>
                <!--魚の名前、10文字まで表示-->
                <% if post.genre_name.present? %>
                  <h6 class="mb-0" style="font-size: 1rem;">
                    <%= truncate(post.genre_name, length: 10) %>
                  </h6>
                <% end %>
              </div>

              <!-- 投稿日と釣り場 -->
              <div class="d-flex flex-column align-items-end">
                <div class="text-right" style="font-size: 0.9rem;">
                  <%= time_ago_in_words(post.created_at) %>前
                </div>
                <div class="text-right" style="font-size: 0.9rem;">
                  ＠<%= post.location %>
                </div>
              </div>
            </div>
          </div>

          <!--カードボディ-->
          <div class="card-body pb-0 pt-1" style="padding-left: 0.5rem;">
            <!-- 釣り方 -->
            <!--釣り方の有無の条件分岐-->
            <% if post.rigs.present? %>
              <p class="card-text" style="font-size: 0.9rem;">
                <% post.rigs.first(3).each do |rig| %>
                  <span style="color: #4d992f;">＃</span><%= rig.name %>
                <% end %>
                <!--釣り方の表示数の指定-->
                <% if post.rigs.count > 4 %>
                  <span>...</span>
                <% end %>
              </p>
            <% else %>
              <!-- rigsがない場合、同じサイズの余白を表示 -->
              <div style="min-height: 22px;"></div>
            <% end %>
          </div>
          
          <!--魚の画像-->
          <div class="my-3">
            <div class="my-3">
              <%= image_tag post.image.variant(resize_to_limit: [500, 250]).processed, class: "img-fluid", style: "width: 100%; height: 250px; object-fit: cover;" if post.image.attached? %>
              <%= image_tag 'no_image.jpg', class: "img-fluid", style: "width: 100%; height: 250px; object-fit: cover;" unless post.image.attached? %>
            </div>
          </div>
        <% end %>

          <!--管理者権限-->
          <div class="card-body pt-0 pb-0 mb-3 mx-auto">
            <%= link_to '管理者権限で削除', admin_customer_post_path(post.customer, post), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">投稿はありません</p>
<% end %>