<!--タックルモーダル-->
<div class="modal fade" id="tackleModal" tabindex="-1" role="dialog" aria-labelledby="tackleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #AFDFE4;">
        <h5 class="modal-title" id="tackleModalLabel">新規タックル登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- フォーム -->
        <%= form_with model: tackle, remote: true do |form| %>
          <div class="form-group">
            <%= form.label :name, "タックル名" %>
            <%= form.text_field :name, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :rod, "ロッド" %>
            <%= form.text_field :rod, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :reel, "リール" %>
            <%= form.text_field :reel, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :line, "ライン" %>
            <%= form.text_field :line, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :bait, "ベイト" %>
            <%= form.text_field :bait, class: "form-control" %>
          </div>

          <%= form.submit "登録する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
