<% if tackles.exists? %>
  <% tackles.each do |tackle| %>
<div class="col-md-6">
  <div class="card mb-4 shadow" style="background-color: white;">
    <!--カードボディ-->
    <div class="card-body d-flex flex-column justify-content-between" style="background-color: white;">

      <!--タックル情報-->
      <div>
        <div class="mb-4" style="text-align: center;">
          <h4 class="card-title m-0"><%= tackle.name %></h4>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2"><strong>ロッド</strong></div>
          <div class="col-sm-8"><%= tackle.rod %></div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2"><strong>リール</strong></div>
          <div class="col-sm-8"><%= tackle.reel %></div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2"><strong>ライン</strong></div>
          <div class="col-sm-8"><%= tackle.line %></div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2"><strong>ベイト</strong></div>
          <div class="col-sm-8"><%= tackle.bait %></div>
        </div>
      </div>

      <!--編集・削除ボタン-->
      <div class="d-flex justify-content-between">
        <%= link_to '編集', edit_tackle_path(tackle), class: 'btn btn-success btn-sm' %>
        <%= link_to '削除', tackle, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
</div>

<!--タックルが偶数個の場合、行を区切るために使用する-->
<% if tackles.index(tackle).odd? && !tackle.equal?(tackles.last) %>
  <div class="w-100"></div> <!--このdivは新しい行を開始するために使用する-->
<% end %>

<% end %>
<% else %>
  <div class="col-12">
    <p class="text-center">登録されたタックルはありません</p>
  </div>
<% end %>
