<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!--会員情報-->
             <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- タックル新規登録 -->
<div class="col-md-8 mx-auto">
<div class="card">
<!--カードヘッダー-->
<div class="card-header d-flex justify-content-center" style="background-color: #AFDFE4;">
  <h3>新規タックル登録</h3>
</div>

<!--カードボディ-->
<div class="card-body">
  <%= form_with model: @tackle, local: true do |form| %>
<!--タックル-->
<div class="form-group">
  <%= form.label :name, "タックル名" %>
  <%= form.text_field :name, class: "form-control", required: true %>
</div>
<!--ロッド-->
<div class="form-group">
  <%= form.label :rod, "ロッド" %>
  <%= form.text_field :rod, class: "form-control" %>
</div>
<!--リール-->
<div class="form-group">
  <%= form.label :reel, "リール" %>
  <%= form.text_field :reel, class: "form-control" %>
</div>
<!--ライン-->
<div class="form-group">
  <%= form.label :line, "ライン" %>
  <%= form.text_field :line, class: "form-control" %>
</div>
<!--ベイト-->
<div class="form-group">
  <%= form.label :bait, "ベイト" %>
  <%= form.text_field :bait, class: "form-control" %>
</div>

<%= form.submit "登録する", class: "btn btn-primary" %>
<!--２５行目の閉じタグ-->
<% end %>

<div class="mt-3">
  <h5><%= link_to 'タックル一覧はこちら', tackles_path, class: "text-dark" %></h5>
</div>

</div>
<!--１７行目のカード閉じタグ-->
</div>
<!--16行目の閉じタグ-->
</div>

</div>
</div>
