<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!-- 会員情報 -->
            <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="d-flex justify-content-end align-items-center">
      <%= link_to '編集', edit_tackle_path(@tackle), class: 'btn btn-success' %>
      <%= link_to '削除', @tackle, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger ml-3' %>
    </div>
    <h1 class="mt-2 text-center"><%= @tackle.name %></h1>
  </div>

  <div class="card mb-3">
    <div class="card-body mt-2">
      <% @tackle.tackle_lists.order(created_at: :asc).each do |tl| %>
        <div class="row my-2">
          <div class="col-3 mb-4 text-break">
            <strong><%= tl.tackle_item.name %></strong>
          </div>
          <div class="col-7 text-break">
            <%= tl.item_name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>