<div class="container mt-5">
  <!-- 新規登録ボタン -->
  <div class="row mb-3">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        新規登録
      </button>
    </div>
  </div>

  <!-- 本の一覧 -->
  <div class="row">
    <div class="col-md-9 sidebar books">
      <%= render 'books', books: @books %>
    </div>
  </div>
</div>

<!-- 新規登録モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @book, url: books_path, remote: true, html: { class: "modal-body needs-validation", novalidate: '' } do |f| %>
        <div class="form-group">
          <%= f.label :title, "本のタイトル" %>
          <%= f.text_field :title, class: "form-control", required: true %>
          <div class="invalid-feedback">
            本のタイトルを入力してください
          </div>
        </div>
        <div class="form-group">
          <%= f.label :body, "本の説明" %>
          <%= f.text_area :body, class: "form-control", required: true %>
          <div class="invalid-feedback">
            本の説明を入力してください
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--modalはBootstrap4.3.1対応-->
<!--app/javascript/packsから参照しました-->
<%= javascript_pack_tag 'validations' %>