<div class="container mt-5">
  <!-- 新規登録ボタン -->
  <div class="row mb-3">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewBookModal">
        新規登録
      </button>
    </div>
  </div>

  <!-- 本の一覧 -->
  <div class="row">
    <div class="col-md-9 sidebar books">
      <%= render 'books', books: @books %>
    </div>
  </div>
</div>

<!-- 新規登録モーダル -->
<div class="modal fade" id="NewBookModal" tabindex="-1" role="dialog" aria-labelledby="NewBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NewBookModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--「needs-validation」クラスは、フォームをJavaScriptによってカスタムできる-->
      <!--「novalidate」属性は、ブラウザが提供する既存のバリデーションメッセージを無効化し、
      JavaScriptを使用したカスタムバリデーションを適用する-->
      <!--下部のpacks/validation.jsと連携してJSを通じたフォームのカスタムを行う-->
      
      <!--「remote: to」オプションは、「form_forヘルパー」に指定することで、フォームを非同期的に送信(Ajaxリクエスト)する
      この際、コントローラの当該アクションも通常のHTMLリクエストと別にAjaxリクエストに対応する必要がある。
      そのためには、「respond_to」ブロックを使い、「アクション.js.erb」ファイルを使用して動的な変更を行う-->
      <%= form_for @book, url: books_path, remote: true, html: { class: "modal-body needs-validation", novalidate: '' } do |f| %>
        <div class="form-group">
          <%= f.label :title, "本のタイトル" %>
      <!--「required: true」属性といえば、「invalid-feedback」クラス-->
      <!--「required: true」属性をフォームに設定すると、フォームに何も入力せずに送信しようとした場合、
      ブラウザが自動的に警告を表示して、ユーザーにフォームの入力を促す-->
      <!--「invalid-feedback」クラスは、フォームのバリデーションメッセージをカスタムする-->
          <%= f.text_field :title, class: "form-control", required: true %>
          <div class="invalid-feedback">
            本のタイトルを入力してください
          </div>
        </div>
        <div class="form-group">
          <%= f.label :body, "本の説明" %>
          <%= f.text_area :body, class: "form-control", required: true %>
          <div class="invalid-feedback">
            本の説明を入力してください
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--modalはBootstrap4.3.1対応-->
<!--app/javascript/packsから参照しました-->
<%= javascript_pack_tag 'validations' %>