<div class="container mt-4">
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2><%= @book.title %></h2>
      <!--「l」メゾットはRailsのローカライズ機能を使用して、日時を任意の形式で表示する-->
    　  <!--「format: :custom_long」は詳細な日時を表示するフォーマット-->
      <p class="text-muted">登録日時: <%= l @book.created_at, format: :custom_long %></p>
    </div>
    <div class="card-body">
      <p><%= @book.body %></p>
      
      <!-- 感想フォーム -->
      <!--ネスト関係のformヘルパーは[ ]で囲う-->
      <!--この場合、@bookはすでに存在している特定の本で、BookComment.newは新しい感想の２つ-->
      <%= form_for [@book, BookComment.new] do |f| %>
        <div class="form-group">
          <%= f.label :comment, "「#{ @book.title }」 の感想" %>
          <%= f.text_area :comment, class: 'form-control', rows: 3 %>
        </div>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      <% end %>
      
      <!--水平方向の仕切り板-->
      <hr>

      <!-- Bootstrap4.3.1対応「.nav-tabs」のタブ参照 -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#myComment" role="tab" aria-controls="home" aria-selected="true">あなたの感想</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#othersComments" role="tab" aria-controls="profile" aria-selected="false">他のユーザーの感想</a>
        </li>
      </ul>

      <!-- タブの詳細 -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="myComment" role="tabpanel" aria-labelledby="home-tab">
          <!-- 自分の感想 -->
          <% @book.book_comments.where(customer: current_customer).each do |comment| %>
            <div class="media mt-3">
              <div class="media-body">
                <%= comment.comment %>
                <p class="text-muted">投稿日時: <%= l comment.created_at, format: :custom_long %></p>
                <% if comment.customer == current_customer %>
                  <%= link_to '編集', edit_book_book_comment_path(@book, comment), class: 'btn btn-sm btn-primary' %>
                  <%= link_to '削除', book_book_comment_path(@book, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="othersComments" role="tabpanel" aria-labelledby="profile-tab">
          <!-- 他のユーザーの感想 -->
          <% @book.book_comments.where.not(customer: current_customer).each do |comment| %>
            <div class="media mt-3">
              <div class="media-body">
                <h5 class="mt-0"><%= comment.customer.name %></h5>
                <%= comment.comment %>
                <p class="text-muted"><%= l comment.created_at, format: :custom_long %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
