<!DOCTYPE html>
<html>
<head>
  <title>釣りあい</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/28e899c482.js" crossorigin="anonymous"></script>
  <!--turbolinks有効にするときは下記の末尾に＝, 'data-turbolinks-track': 'reload'-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--turbolinks有効にするときは下記の末尾に＝, 'data-turbolinks-track': 'reload'-->
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
</head>
<body>

<header>
  <nav class="navbar-custom">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <!-- ロゴ -->
        <div class="col-auto">
          <%= link_to root_path, class: 'navbar-brand text-dark' do %>
            <i class="fas fa-fish"></i> 釣りあい <i class="fas fa-fish"></i>
          <% end %>
        </div>
        
        <!-- ナビリンク -->
        <div class="col-auto">
          <div class="navbar-links">
            <ul class="nav">
              <%= link_to 'About', about_path, class: 'nav-link' %>
              <% if admin_signed_in? %>
                <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
              <% elsif customer_signed_in? %>
                <%= link_to '会員情報', customer_path(current_customer), class: 'nav-link' %>
                <%= link_to '新規投稿', new_post_path, class: 'nav-link' %>
                <%= link_to '通知一覧', notifications_path, class: 'nav-link' %>
                <%= link_to '投稿一覧', posts_path, class: 'nav-link' %>
                <%= link_to '魚種一覧', genres_path, class: 'nav-link' %>
                <%= link_to 'タックル一覧', tackles_path, class: 'nav-link' %>
                <%= link_to 'タックル登録', new_tackle_path, class: 'nav-link' %>
                <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link' %>
              <% else %>
                <%= link_to "ゲストログイン（閲覧用）", guest_customer_session_path, class: 'nav-link', method: :post %>
                <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link' %>
                <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link' %>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- 検索フォーム -->
          <div class="col-auto">
           <%= search_form_for @q, url: searches_path, class: 'form-inline' do |f| %>
            <%= f.label :rigs_name_or_post_comments_comment_or_genre_name_or_tackle_name_or_tackle_rod_or_tackle_reel_or_tackle_line_or_tackle_bait_cont, "検索ワード", class: 'sr-only' %>
            <%= f.search_field :rigs_name_or_post_comments_comment_or_genre_name_or_tackle_name_or_tackle_rod_or_tackle_reel_or_tackle_line_or_tackle_bait_cont, class: 'form-control', placeholder: "検索ワードを入力" %>
            <%= f.submit '検索', class: 'btn btn-primary ml-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>

  <!-- メッセージ -->
  <% flash.each do |key, value| %>
    <div class="container mt-3">
      <div class="alert <%= 'alert-success' if key == 'notice' %> <%= 'alert-warning' if key == 'alert' %>" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>
  <%= yield %>

  <!--トップまで戻るボタン-->
  <button class="back-to-top btn btn-primary" style="position: fixed; bottom: 20px; right: 20px; display: none;">
  <i class="fas fa-arrow-up"></i>
  </button>

  <!-- BootstrapのJavaScript -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
  <!--CDNの-->
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
  <!--トップまで戻るボタン(app/javascript/packs参照)-->
  <%= javascript_pack_tag 'toggle_switch' %>
</body>
</html>
