<!DOCTYPE html>
<html>
<head>
  <title>釣りあい</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/28e899c482.js" crossorigin="anonymous"></script>
  <!--turbolinks有効にするときは下記の末尾に＝, 'data-turbolinks-track': 'reload'-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--turbolinks有効にするときは下記の末尾に＝, 'data-turbolinks-track': 'reload'-->
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
      <!-- ロゴ -->
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fas fa-fish"></i> 釣りあい <i class="fas fa-fish"></i>
      <% end %>

      <!-- トグルボタン（レスポンシブ対応） -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- ナビゲーションリンク -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="margin-right: 10px;">
            <%= link_to 'About', about_path, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
          </li>
          <% if customer_signed_in? %>
            <!-- 顧客がサインインしている場合のリンク -->
            <li class="nav-item" style="margin-right: 10px;">
              <%= link_to '会員情報', customer_path(current_customer), class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
              <%= link_to '投稿一覧', posts_path, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
              <%= link_to 'タックル登録', new_tackle_path, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
          <% else %>
            <!-- 顧客がサインインしていない場合のリンク -->
            <li class="nav-item" style="margin-right: 10px;">
              <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link', style: 'background-color: #5d6ec9; color: white; border-radius: 20px; padding: 5px 15px;' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>





  <!-- メッセージ -->
  <% flash.each do |key, value| %>
    <div class="container mt-3">
      <div class="alert <%= 'alert-success' if key == 'notice' %> <%= 'alert-warning' if key == 'alert' %>" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>
  
  <%= yield %>

  <!--トップまで戻るボタン-->
  <button class="back-to-top btn btn-primary" style="position: fixed; bottom: 20px; right: 20px; display: none;">
  <i class="fas fa-arrow-up"></i>
  </button>

  <!-- BootstrapのJavaScript -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
  <!--CDNの-->
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
  <!--トップまで戻るボタン(app/javascript/packs参照)-->
  <%= javascript_pack_tag 'toggle_switch' %>
</body>
</html>
