<!DOCTYPE html>
<html>
<head>
  <title>WERTBOOK</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'WERTBOOK', (customer_signed_in? ? about_path : root_path), class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', customer_path(current_customer), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

<!--DEVISE日本語対応-->
  <% flash.each do |key, value| %>
    <div class="alert <%= 'alert-success' if key == 'notice' %>
      <%= 'alert-danger' if key == 'alert' %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
</body>
</html>
